* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Poppins;
}

header {
    color: #555555;
}

.active {
    height: 10.875rem;
}
.active p{
    display: block;
}

.active > h6  > img {
    transform: rotate(180deg);
}



@media only screen and (min-width: 1745px) {
    html{
        font-size: 130%;
    }
}

@media only screen and (max-width: 1325px) {
    html{
        font-size: 80%;
    }
}

@media only screen and (max-width: 1065px) {
    html {
        font-size: 70%;
    }
}

